body{
    font-size: 20px;
}


input[type="text"]{
    height:1.5em;
    display:block;
    margin:1em 0; 
    padding-left: 2.4em;
    background-color: #ddd;
    border-radius: 3px;
    border:1px solid #ccc;
    background-repeat:no-repeat;
    background-position:.5em .35em;
    display: block;
    margin-bottom: 
}


#email{
    background-image: url('images/email.png');

}

#twitter{
    background-image: url('images/twitter.png')
}


input[type: "submit" ]{
    background color: orange
}